
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Home :: w3layouts</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta charset="utf-8" />-->
    <!--<meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
	<!--SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />-->
    <!--<script>-->
        <!--addEventListener("load", function () {-->
            <!--setTimeout(hideURLbar, 0);-->
        <!--}, false);-->

        <!--function hideURLbar() {-->
            <!--window.scrollTo(0, 1);-->
        <!--}-->
    <!--</script>-->
    <!--&lt;!&ndash; Custom Theme files &ndash;&gt;-->
    <!--<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">-->
    <!--&lt;!&ndash; shop css &ndash;&gt;-->
    <!--<link href="css/shop.css" type="text/css" rel="stylesheet" media="all">-->
    <!--<link rel="stylesheet" href="css/owl.carousel.min.css">-->
    <!--&lt;!&ndash; Owl-Carousel-CSS &ndash;&gt;-->
    <!--<link href="css/style.css" type="text/css" rel="stylesheet" media="all">-->
    <!--&lt;!&ndash; font-awesome icons &ndash;&gt;-->
    <!--<link href="css/fontawesome-all.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; //Custom Theme files &ndash;&gt;-->
    <!--&lt;!&ndash; online-fonts &ndash;&gt;-->
    <!--<link href="//fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900" rel="stylesheet">-->
    <!--<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">-->
    <!--&lt;!&ndash; //online-fonts &ndash;&gt;-->
</head>

<body>

    <!-- banner -->

    <!-- //banner -->
    <!--services-->

    <!-- //about -->
    <!-- product tabs -->

    <!-- //product tabs -->
    <!-- insta posts -->

    <!-- //insta posts -->

    <!-- sign up Modal -->
    <!--<div class="modal fade" id="myModal_btn" tabindex="-1" role="dialog" aria-labelledby="myModal_btn" aria-hidden="true">-->
        <!--<div class="agilemodal-dialog modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title">Register Now</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">×</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body pt-3 pb-5 px-sm-5">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6 mx-auto align-self-center">-->
                            <!--<img src="images/p3.png" class="img-fluid" alt="login_image" />-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<form action="#" method="post">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="recipient-name1" class="col-form-label">Your Name</label>-->
                                    <!--<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="recipient-email" class="col-form-label">Email</label>-->
                                    <!--<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="password1" class="col-form-label">Password</label>-->
                                    <!--<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="password2" class="col-form-label">Confirm Password</label>-->
                                    <!--<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">-->
                                <!--</div>-->
                                <!--<div class="sub-w3l">-->
                                    <!--<div class="sub-agile">-->
                                        <!--<input type="checkbox" id="brand2" value="">-->
                                        <!--<label for="brand2" class="mb-3">-->
                                            <!--<span></span>I Accept to the Terms & Conditions</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="right-w3l">-->
                                    <!--<input type="submit" class="form-control" value="Register">-->
                                <!--</div>-->
                            <!--</form>-->
                            <!--<p class="text-center mt-3">Already a member?-->
                                <!--<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark login_btn">-->
                                    <!--Login Now</a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //signup modal &ndash;&gt;-->
    <!--&lt;!&ndash; signin Modal &ndash;&gt;-->
    <!--<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true">-->
        <!--<div class="agilemodal-dialog modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title" id="exampleModalLabel">Login</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">×</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body  pt-3 pb-5 px-sm-5">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6 align-self-center">-->
                            <!--<img src="images/p3.png" class="img-fluid" alt="login_image" />-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<form action="#" method="post">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="recipient-name" class="col-form-label">Your Name</label>-->
                                    <!--<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-form-label">Password</label>-->
                                    <!--<input type="password" class="form-control" placeholder=" " name="Password" required="">-->
                                <!--</div>-->
                                <!--<div class="right-w3l">-->
                                    <!--<input type="submit" class="form-control" value="Login">-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- signin Modal -->
    <!-- js -->
    <!--<script src="js/jquery-2.2.3.min.js"></script>-->
    <!--&lt;!&ndash; //js &ndash;&gt;-->
    <!--&lt;!&ndash; script for show signin and signup modal &ndash;&gt;-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$("#myModal_btn").modal();-->
        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; //script for show signin and signup modal &ndash;&gt;-->
    <!--&lt;!&ndash; smooth dropdown &ndash;&gt;-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('ul li.dropdown').hover(function () {-->
                <!--$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);-->
            <!--}, function () {-->
                <!--$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);-->
            <!--});-->
        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; //smooth dropdown &ndash;&gt;-->
    <!--&lt;!&ndash; script for password match &ndash;&gt;-->
    <!--<script>-->
        <!--window.onload = function () {-->
            <!--document.getElementById("password1").onchange = validatePassword;-->
            <!--document.getElementById("password2").onchange = validatePassword;-->
        <!--}-->

        <!--function validatePassword() {-->
            <!--var pass2 = document.getElementById("password2").value;-->
            <!--var pass1 = document.getElementById("password1").value;-->
            <!--if (pass1 != pass2)-->
                <!--document.getElementById("password2").setCustomValidity("Passwords Don't Match");-->
            <!--else-->
                <!--document.getElementById("password2").setCustomValidity('');-->
            <!--//empty string means no validation error-->
        <!--}-->
    <!--</script>-->
    <!--&lt;!&ndash; script for password match &ndash;&gt;-->
    <!--&lt;!&ndash; Banner Responsiveslides &ndash;&gt;-->
    <!--<script src="js/responsiveslides.min.js"></script>-->
    <!--<script>-->
        <!--// You can also use "$(window).load(function() {"-->
        <!--$(function () {-->
            <!--// Slideshow 4-->
            <!--$("#slider3").responsiveSlides({-->
                <!--auto: false,-->
                <!--pager: true,-->
                <!--nav: false,-->
                <!--speed: 500,-->
                <!--namespace: "callbacks",-->
                <!--before: function () {-->
                    <!--$('.events').append("<li>before event fired.</li>");-->
                <!--},-->
                <!--after: function () {-->
                    <!--$('.events').append("<li>after event fired.</li>");-->
                <!--}-->
            <!--});-->

        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; // Banner Responsiveslides &ndash;&gt;-->
    <!--&lt;!&ndash; Product slider Owl-Carousel-JavaScript &ndash;&gt;-->
    <!--<script src="js/owl.carousel.js"></script>-->
    <!--<script>-->
        <!--var owl = $('.owl-carousel');-->
        <!--owl.owlCarousel({-->
            <!--items: 4,-->
            <!--loop: false,-->
            <!--margin: 10,-->
            <!--autoplay: false,-->
            <!--autoplayTimeout: 5000,-->
            <!--autoplayHoverPause: false,-->
            <!--responsive: {-->
                <!--320: {-->
                    <!--items: 1,-->
                <!--},-->
                <!--568: {-->
                    <!--items: 2,-->
                <!--},-->
                <!--991: {-->
                    <!--items: 3,-->
                <!--},-->
                <!--1050: {-->
                    <!--items: 4-->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; //Product slider Owl-Carousel-JavaScript &ndash;&gt;-->
    <!--&lt;!&ndash; cart-js &ndash;&gt;-->
    <!--<script src="js/minicart.js">-->
    <!--</script>-->
    <!--<script>-->
        <!--hub.render();-->

        <!--hub.cart.on('new_checkout', function (evt) {-->
            <!--var items, len, i;-->

            <!--if (this.subtotal() > 0) {-->
                <!--items = this.items();-->

                <!--for (i = 0, len = items.length; i < len; i++) {}-->
            <!--}-->
        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; //cart-js &ndash;&gt;-->
    <!--&lt;!&ndash; start-smooth-scrolling &ndash;&gt;-->
    <!--<script src="js/move-top.js"></script>-->
    <!--<script src="js/easing.js"></script>-->
    <!--<script>-->
        <!--jQuery(document).ready(function ($) {-->
            <!--$(".scroll").click(function (event) {-->
                <!--event.preventDefault();-->

                <!--$('html,body').animate({-->
                    <!--scrollTop: $(this.hash).offset().top-->
                <!--}, 1000);-->
            <!--});-->
        <!--});-->
    <!--</script>-->
    <!--&lt;!&ndash; //end-smooth-scrolling &ndash;&gt;-->
    <!--&lt;!&ndash; smooth-scrolling-of-move-up &ndash;&gt;-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--/*-->
            <!--var defaults = {-->
                <!--containerID: 'toTop', // fading element id-->
                <!--containerHoverID: 'toTopHover', // fading element hover id-->
                <!--scrollSpeed: 1200,-->
                <!--easingType: 'linear'-->
            <!--};-->
            <!--*/-->

            <!--$().UItoTop({-->
                <!--easingType: 'easeOutQuart'-->
            <!--});-->

        <!--});-->
    <!--</script>-->
    <!--<script src="js/SmoothScroll.min.js"></script>-->
    <!--&lt;!&ndash; //smooth-scrolling-of-move-up &ndash;&gt;-->
    <!--&lt;!&ndash; Bootstrap core JavaScript-->
    <!--================================================== &ndash;&gt;-->
    <!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
    <!--<script src="js/bootstrap.js"></script>-->
</body>

</html>