<!--<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <title>Title Mortoza</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <script src="js/bootstrap.js"></script>
    <style>
        .mm{
            margin-left: 50px;
            background-color: darkgrey;
            margin-right: 300px;
        }
    </style>
</head>
<body>
<div role="navigation">
    <div class="navbar navbar-inverse">
        <a href="#" class="navbar-brand">BootStrap</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/add}">Student Form</a></li>
                <li><a href="#" th:href="@{/}">All Data</a></li>
            </ul>
        </div>
    </div>
</div>
        <a th:href="@{/add}">Add NewUser</a>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>PassWord</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                    <tr th:each="list :${lists}">
                        <td th:text="${list.id}"></td>
                        <td th:text="${list.name}"></td>
                        <td th:text="${list.password}"></td>
                        <td th:text="${list.email}"></td>
                        <td><a th:href="@{'/edit/'+${list.id}}">Edit</a></td>
                        <td><a th:href="@{'/del/'+${list.id}}">Del</a></td>
                    </tr>
            </table>

</body>
</html>