<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
<title>Home</title>
</head>

<body>


<div class="container-fluid" layout:fragment="cus_con">
  <h1 style="background-color: red">G M Mortoza Ahed</h1>
</div>


  <!-- Page Wrapper -->
  <!--<div id="wrapper">-->
    <!--&lt;!&ndash; Content Wrapper &ndash;&gt;-->
    <!--<div id="content-wrapper" class="d-flex flex-column">-->
      <!--&lt;!&ndash; Main Content &ndash;&gt;-->
      <!--<div id="content">-->
      <!--</div>-->
      <!--&lt;!&ndash; End of Main Content &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; End of Content Wrapper &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; End of Page Wrapper &ndash;&gt;-->


</body>

</html>
