<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .mm{
            margin-left: 30px;
            margin-top: 10px;
        }
    </style>
    <script>
        ///////////////////
        function depositeByMemberShow(id) {
            var dropdown = document.getElementById('deposit');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Choose Nominee';
            defaultOption.value = '0';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;



            var xhttp;

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {

                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].amount;
                        option.value = data[i].id;
                        dropdown.add(option);
                        console.log();
                    }
                }
            };
            xhttp.open("GET", "/depositeByMember?id="+id, true);
            xhttp.send();
        }
        ///////////////////
        function memberWiseNomineeShow(id) {
            var dropdown = document.getElementById('nominee');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Choose Nominee';
            defaultOption.value = '0';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;



            var xhttp;

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {

                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].nominee.n_name;
                        option.value = data[i].id;
                        dropdown.add(option);
                        console.log();
                   }
                }
            };
            xhttp.open("GET", "/nomineeByMember?id="+id, true);
            xhttp.send();

            depositeByMemberShow(id)
        }

        ///////////////////
        function memberWiseShow(id) {
            var dropdown = document.getElementById('member');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Choose Member';
            defaultOption.value = '0';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;



            var xhttp;

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {

                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].m_name;
                        option.value = data[i].id;
                        dropdown.add(option);
console.log();
                    }
                }
            };
            xhttp.open("GET", "/memberbybranch?id="+id, true);
            xhttp.send();
        }
    </script>
</head>
<body>
<div class="main_content" layout:fragment="cus_con">
<span th:text="${SuccMsg}"></span>
    <!--<form action="#" th:object="${memberWiseDeposite}" th:action="@{/member/searchloans}" th:method="GET" class="mm">-->

        <!--<input  type="text" class="form-control" name="lc" /></br>-->
        <!--<button type="submit" class="btn btn-primary btn-blockquote">-->
            <!--Search-->
        <!--</button>-->
    <!--</form>-->

    <div class="card-header mmm"><h4>Add Member-Wise Deposite</h4></div>

    <form th:object="${memberWiseDeposite}" th:action="@{/member/memberwisedepo}" th:method="POST" class="mm">
        <!--<div class="row form-group">-->
            <!--<div class="col col-md-2"><label for="exampleFormControlInput0">L_Code</label></div>-->
            <!--<div class="col-12 col-md-7">-->
                <!--<select class="form-control" id="exampleFormControlInput0" th:field="*{loan}">-->
                    <!--<option value=""></option>-->
                    <!--<option th:each="lons :${loanalist}" th:value="${lons.id}"><span th:text="${lon.loanCode}"></span></option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row form-group">
            <div class="col col-md-2"><label for="exampleFormControlInput1">L_Branch</label></div>
            <div class="col-12 col-md-7 form-group">
                <select onchange="memberWiseShow(this.value)" name="branch" class="form-control" id="exampleFormControlInput1" >
                    <option value=""></option>
                    <option th:each="bra :${branchlistt}" th:value="${bra.id}"><span th:text="${bra.branchName}"></span></option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2"><label for="member">M_Name</label></div>
            <div class="col-12 col-md-7">
                <select id="member" class="form-control"  th:field="*{member}" onchange="memberWiseNomineeShow(this.value)">

                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2"><label for="nominee">N_Name</label></div>
            <div class="col-12 col-md-7">
                <select class="form-control" id="nominee" th:field="*{nominee}">

                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2"><label for="deposit">D_Amount</label></div>
            <div class="col-12 col-md-7">
                <select class="form-control" id="deposit" th:field="*{deposite}">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group offset-2 col-6">
                <button type="submit" class="btn btn-primary">
                   Save
                </button>
            </div>
        </div>
    </form>

</div>

</body>
</html>