<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="add" class="com.example.diconstructor.entity.Address">
        <constructor-arg value="Dhanmondi"></constructor-arg>
        <constructor-arg value="Dhaka"></constructor-arg>
        <constructor-arg value="Bangladesh"></constructor-arg>
    </bean>
    <bean id="e" class="com.example.diconstructor.entity.Employee">
        <constructor-arg value="1243288"></constructor-arg>
        <constructor-arg value="Mortoza"></constructor-arg>
        <constructor-arg>
            <ref bean="add"/>
        </constructor-arg>
    </bean>
</beans>