<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
   <title>Dashboard &mdash; Ngo</title>
</head>

<body>

<div class="main-content" layout:fragment="custom-content">
   <div class="row">
      <div class="col-lg-8 col-md-12 col-12 col-sm-12">
         <div class="login-brand">
            Ngo System
         </div>
         <div class="card card-primary">
            <div class="card-header"><h4>Add Member</h4></div>
            <div class="card-body">
               <form method="post" th:object="${obj}" th:action="@{/templates/add-member.jsf}">
                  <div class="row">
                     <div class="form-group col-12">
                        <label for="member_name">Member Name</label>
                        <input id="member_name" type="text" class="form-control" th:field="*{m_name}" name="member_name">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_code">Member Code</label>
                        <input id="member_code" type="text" class="form-control" th:field="*{m_code}" name="member_code">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_gender">Member Gender</label>
                        <input id="member_gender" type="text" class="form-control" th:field="*{m_gender}" name="member_gender">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_mobile">Member Mobile</label>
                        <input id="member_mobile" type="text" class="form-control" th:field="*{m_mobile}" name="member_mobile">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_address">Member Address</label>
                        <input id="member_address" type="text" class="form-control" th:field="*{m_address}" name="member_address">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_nid">Member NID</label>
                        <input id="member_nid" type="text" class="form-control" th:field="*{m_nid}" name="member_nid">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_fee">Member Admit Fee</label>
                        <input id="member_fee" type="text" class="form-control" th:field="*{m_admit_fee}" name="member_fee">
                     </div>
                     <div class="form-group col-12">
                        <label for="regi_date">Registration Date</label>
                        <input id="regi_date" type="text" class="form-control" th:field="*{regi_date}" name="regi_date">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_ngo_id">Ngo Id</label>
                        <input id="member_ngo_id" type="text" class="form-control" th:field="*{ngo}" name="member_ngo_id">
                     </div>
                     <div class="form-group col-12">
                        <label for="member_no_id">Nominee Id</label>
                        <input id="member_no_id" type="text" class="form-control" th:field="*{nominee}" name="member_no_id">
                     </div>
                  </div>
                  <div class="row">

                     <div class="form-group col-6">
                        <button type="submit" class="btn btn-primary btn-blockquote">
                           Add Member
                        </button>
                     </div>
                     <div class="form-group col-6">
                        <button type="reset" class="btn btn-success btn-blockquote">
                           Reset Member
                        </button>
                     </div>

                  </div>

               </form>
            </div>
         </div>
      </div>

   </div>
</div>
</body>
</html>