<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<div class="body" layout:fragment="cus_cont">
            <span th:text="${syccessMsg}"></span>
            <span th:text="${exitMsg}"></span>
            <div class="card card-primary">
                <div class="card-header"><h5>Add Role</h5></div>
                <div class="card-body">
                    <form th:object="${role}" th:action="@{/role/addrolee}" th:method="POST">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="role_name">Role Name</label>
                                <input id="role_name" type="text" class="form-control" th:field="*{roleName}"
                                       placeholder="Enter Role Name"/>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
</div>
</body>
</html>