<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        .mm{
            margin-left: 30px;

        }
    </style>
</head>
<body>
        <div class="body" layout:fragment="cus_cont">
            <form th:object="${user}" th:action="@{/user/addusers}" th:method="POST" class="mm">

                <span th:text="${succ}"></span>
                <span th:text="${exitMsg}"></span>

                <div class="row">
                    <div class="form-group col-8">
                        <label>Role Name</label>
                        <select th:field="*{role}" multiple>
                            <option th:each="rola : ${addlisthome}" th:value="${rola.id}">
                                <span th:text="${rola.roleName}"></span>
                            </option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="name">First Name</label>
                        <input id="name" type="text" class="form-control" th:field="*{firstName}"
                               placeholder="Enter Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="first_name">Last Name</label>
                        <input id="first_name" type="text" class="form-control" th:field="*{lastName}"
                               placeholder="Enter First Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="user_name">User Name</label>
                        <input id="user_name" type="text" class="form-control" th:field="*{userName}"
                               placeholder="Enter User Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" th:field="*{email}"
                               placeholder="Enter Your Email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="bdate">Regi Date</label>
                        <input id="bdate" type="date" class="form-control" th:field="*{regiDate}"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="status">Regi Date</label>
                        <input id="status" type="text" class="form-control" th:field="*{status}"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="role_name">PassWord</label>
                        <input id="role_name" type="text" class="form-control" th:field="*{password}"
                               placeholder="Enter Role Name"/>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
</body>
</html>