<!--<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title Mortoza</title>
    <style>
        .mm{
            margin-left: 50px;
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<h3>This is Student Registration Form And Show the Data</h3>

<form class="mm" method="post">
    Id:<input type="text" name="id"/><br/>
    Name:<input type="text" name="name"/><br/>
    PassWord:<input type="text" name="password"/><br/>
    Email:<input type="email" name="email"/><br/>
    <button type="submit">Save</button>
</form>
<br/><br/><br/><br/>
<h3>Showing The Data:</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>PassWord</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <!--<c:forEach var="list" items="${lists}">-->
        <tr th>
            <td>${lists.id}</td>
            <td>${lists.name}</td>
            <td>${lists.password}</td>
            <td>${lists.email}</td>
            <td colspan="2">

            </td>
        <!--</tr>-->
    <!--</c:forEach>-->
</table>
</body>
</html>